*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#nav{
    background-color: #616161;
    position: absolute;
    width: 100vw;
    top:-100px;
    transition: ease-out 1s;
}
#nav nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
#nav nav ul li{
    margin-right: 20px;
}
#nav nav ul li a{
    font-family: arial;
    font-size:10pt;
    text-decoration: none;
    color:white
}
#buscar{
    width: 500px;
    margin-right: 10px;
    padding:5px;
    background-color: #eee;
    border: 0px;
    outline: none;
}
button{
    padding: 5px;
    border: 0px;
    background-color: chocolate;
    cursor: pointer;
    width: 100px;
    color: white;
}
#fechar{
    color:white;
    text-decoration: none;
    position: absolute;
    right: 10px;
    font-size: 20pt;
    font-family: Arial;
}
#menu{
    text-decoration: none;
    color: silver;
    font-size:12pt;
    font-family: arial;
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    transition: ease 0.5s;
}
#menu:hover{
    margin-left: 15pt;
    color:lime;
    /* text-shadow: 0px 0px 5px silver; */
}

