* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#um {
    width: 300px;
    height: 300px;
    border: 10px outset rgb(255, 3, 3);
    /* background-color: rgb(0, 0, 0);
    background: linear-gradient(140deg , rgb(221, 2, 31) 50% ,  rgb(255, 104, 112)50%); */
    filter: blur(40px);

}

#dois {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px outset rgb(255, 255, 255);
    height: 200px;
    margin: 0 auto;
    width: 40%;
    font-size: 2.9em;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 17%, rgba(49, 49, 255) 83%);
    
}

#tres {
    width: 300px;
    height: 300px;
    background: rgb(2, 0, 36);
    background: linear-gradient(150deg, rgb(219, 39, 255) 17%, rgba(0, 212, 255, 1) 83%)
}

#quatro {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(2, 0, 36);
    /* background: linear-gradient(150deg, rgb(39, 248, 255) 17%, rgb(255, 0, 242) 70%); */
    top: 300px;
    left: 0;
    position:absolute;
}